<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>本マスタメンテ</title>

<link href="/css/style.css" rel="stylesheet">
<script type="text/javascript" src="./js/action.js" ></script>
</head>
<body>
<form class="background" method="post" th:action="@{/}" th:object="${bookMaster}" >
<div  align="right"><a href="javascript:window.open('about:blank','_self').close();">閉じる</a><br/></div>
<div id="div" >
		<H4>本マスタメンテ</H4><br>
		<p th:text="${message}"></p>
		<div>				
			<label >本ID:</label><br>
			<input type="text" id="bookId"   name="bookId" th:field="*{bookId}" >
			<input type="submit" id="btn" name="btn_search" value="検索" onclick="myFunction()" >&nbsp;&nbsp;<br>
		</div>
		<label >本タイトル:</label><br>
		<input type="text" id="bookTitle" name="bookTitle" th:field="*{bookTitle}"  ><br>		
		<label >著者名：</label><br>
		<input type="text" id="authorName" name="authorName" th:field="*{authorName}" ><br>			
		<label >出版社：</label><br>
		<input type="text" id="publisher" name="publisher" th:field="*{publisher}" ><br>			
		<label   >出版年月日：</label><br>
		<input type="text" id="publishcationYear" name="publicationYear" th:field="*{publicationYear}">&nbsp;<label>年</label>	
		<input type="text" id="publishcationMonth" name="publicationMonth" th:field="*{publicationMonth}" >&nbsp;<label>月</label>	
		<input type="text" id="publishcationDate" name="publicationDay" th:field="*{publicationDate}" >&nbsp;<label>日</label>	<br><br>		
	<div class="btn-group" align="center" >
		<button type="submit" name="btn_insert" value="検索" onclick="myFunction2()">追加</button>&nbsp;&nbsp;
		<button type="submit" name="btn_update" value="検索" onclick="myFunction3()">変更</button>&nbsp;&nbsp;
		<button type="submit" name="btn_delete" value="検索" onclick="myFunction4()">削除</button>&nbsp;&nbsp;
		<input type="reset" value="クリア">
	</div>
	</div>
	
</form>
</body>
</html>